# dev
.yarn/
!.yarn/releases
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf

# deps
node_modules/

# env
.env
.env.production

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# misc
.DS_Store

/src/generated/prisma

# ML models & datasets
ml-model/archive/
ml-model/*.zip
ml-model/*.joblib
ml-model/breast_cancer_*.joblib
ml-model/trained_model/
ml-model/venv/
ml-model/CBIS-DDSM/
ml-model/csv/
ml-model/jpeg/
ml-model/*train*.py
ml-model/mini_mias.zip
ml-model/data.zip
