app = 'bytebros'
primary_region = 'lhr'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'off'
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '4gb'
  cpus = 2
  memory_mb = 4096
