# fly.toml app configuration file generated for cavista-black-glitter-815 on 2026-02-21T12:11:38-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'cavista-black-glitter-815'
primary_region = 'ams'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '4gb'
  cpus = 2
  memory_mb = 4096
